<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<context:component-scan base-package="com.springbook.biz" />
	
	<bean id="before" class="com.springbook.biz.common.BeforeAdvice" />
	<bean id="afterReturning" class="com.springbook.biz.common.AfterReturningAdvice" />
	<bean id="afterThrowing" class="com.springbook.biz.common.AfterThrowingAdvice" />
	<bean id="after" class="com.springbook.biz.common.AfterAdvice" />
	<bean id="around" class="com.springbook.biz.common.AroundAdvice" />
	
	<aop:config>
		<aop:pointcut id="allPointcut" expression="execution(* com.springbook.biz..*Impl.*(..))" />
		<aop:pointcut id="getPointcut" expression="execution(* com.springbook.biz..*Impl.get*(..))" />
		
		<!-- before  -->
		<!--
		<aop:aspect ref="before">
			<aop:before pointcut-ref="allPointcut" method="beforeLog"/> 
		</aop:aspect>
		-->
		
		<!-- After Returning  -->
		<!--
		<aop:aspect ref="afterReturning">
			<aop:after-returning pointcut-ref="getPointcut" method="afterLog" returning="returnObj" />
		</aop:aspect>
		-->
		
		<!-- After Throwing -->
		<!--
		<aop:aspect ref="afterThrowing">
			<aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog" throwing="exceptObj" />
		</aop:aspect>
		-->
		
		<!-- After -->
		<!--
		<aop:aspect ref="after">
			<aop:after pointcut-ref="allPointcut" method="finallyLog" />
		</aop:aspect>
		-->
		
		<!-- Around -->
		<aop:aspect ref="around">
			<aop:around pointcut-ref="allPointcut" method="aroundLog"/>
		</aop:aspect>
	</aop:config>
</beans>
